<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing Challenge</h1>
      <p class="has-text-centered">
        Randomly generated text should go here
      </p>
      <!-- <p class="has-text-centered">
        <strong>{{ randomText }}</strong>
      </p> -->
      <div class="has-text-centered">
        <span
          [class]="getResultEachLetter(letter, i)"
          *ngFor="let letter of randomText.split(''); let i = index;"
        >{{ randomText.split('')[i] }}</span>
      </div>
      <div class="field">
        <input
          class="input"
          (input)="onTextInput($event)"
        />
      </div>
      <div class="box has-text-centered" *ngIf="getIsSuccessStatus()">
        <h1 class="title">Success!</h1>
      </div>
    </div>
  </div>
</div>